{% extends 'main_page.html' %}

{% block title %} Password Reset{% endblock title %}

{% load crispy_forms_tags %}

{% block body_content %}

<div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-12 col-offset-3">
            <form method="post" class="mt-4">
                <p>Please Enter your new Password</p>

                {% csrf_token %}

                {{ form|crispy }}

                <button class="btn btn-primary" type="submit">Reset Password</button>
                <div class="d-flex justify-content-center">
                    <input class="bc-white mt-2 ml-2 me-3 loginbutton" type="submit" value="login">
                </div>
            </form>
           
        </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock body_content %}


