{% extends 'main_page.html' %}

{% block title %} Edit Profile {% endblock title %}

{% load crispy_forms_tags %}

{% block body_content %}

<div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-12 col-offset-3">
            <p><span class="date text-pink text-size-30px mt-5">
                {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endif %}
            </span></p>
            <form method="post" class="mt-4" enctype="multipart/form-data">
                
                {% csrf_token %}

                {{ form|crispy }}
                
                {{ user_form|crispy }}
                {% if request.user.is_superuser %}
                    {{profile_form|crispy}}
                {% else %}
                    {{ profile_form.address|crispy}}
                    {{ profile_form.phone|crispy}}
                    {{ profile_form.date_of_birth|crispy}}
                    {{ profile_form.gender|crispy}}
                    {{ profile_form.state|crispy}}
                    {{ profile_form.nationality|crispy}}
                    {{ profile_form.profile_passport|crispy}}
                    {{ profile_form.marital_status|crispy}}
                    {{ profile_form.next_of_kin|crispy}}
                {% endif %}
                
                <div class='d-flex justify-content-center'>
                <input class="bc-white mt-2 ml-2 me-3 loginbutton" type="submit" value="Update">
                </div>
              </form>
            </div>
        </div>
        <div class='col-3'></div> 
    </div>
</div>

{% endblock body_content %}

